<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap1.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Random to Start</h1>
        <div class="row">
          <div class="col-xs-12 col-md-8"></div>
          <div class="col-xs-6 col-md-4">
            <form class="form-inline" action="/episodios" method="POST">
              <div class="form-group">
                  <button type="submit" class="btn btn-default">Random</button>
                  <input type="text" class="form-control" value="5" name="qtElements">
              </div>
          </form>
          </div>
        </div>
      </div>
    </header>

    
    <section id="tabela">
      <div class="container">
        <div class="row">
          <table class="table">
            <thead>
                <tr> 
                  <td>Codigo</td>
                  <td>Nome PT-BR</td>
                  <td>Nome Ingles</td>
                  <td>Numero do Episodio</td>
                  <td>Data de Lancamento</td>
                  <td>Temporada</td>
                  <td>Link</td>
                </tr>
            </thead>
            <tbody>
            {% for ep in range(0,epsList|length)%}
            
               <tr>
                  <td> {{ epsList[ep].codigo }} </td>
                  <td> {{ epsList[ep].ep_name_ptbr }} </td>
                  <td> {{ epsList[ep].ep_name_eng }} </td>
                  <td> {{ epsList[ep].num_ep }} </td>
                  <td> {{ epsList[ep].data_lancamento }} </td>
                  <td> {{ epsList[ep].temp }} </td>
                  <td><a href="{{ links[ep] }}"  class="none-decoration" target=“_blank”>Assistir!!</a>
                </tr>
               
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/static/js/scrolling-nav.js"></script>

  </body>

</html>
